/* Heading */

.heading{
    margin-top: 3rem;
    color:whitesmoke;
}

/* Form */
form {
    margin-top: 5rem;
  }
  
  form input[name="city"],
  form input[name="country"] {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
  }

  .container input,
  .container ::-webkit-input-placeholder {
    color: white !important;
  }
  
  .container input:focus {
    background-color: transparent;
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid #3399FF;
  }

  #button{
    font-size: 20px;
    box-shadow: none;
  }


    
/* Information */

.information {
   margin-top: 80px;
   font-size: 32px;
   font-weight:bold;
   color:whitesmoke;
   text-align: center;
}



 